body {
    background-color: #323232;
    background: linear-gradient(180deg, #323232 30%, #444444 50%);
    margin: 0;
    padding: 0;
}

.header { 
    display: flex;
    align-items:center;
    background-color: #000000;
    background: linear-gradient(90deg, #323232 30%, #444444 80%);
    box-shadow: 5% 7% #888888;
    font-family: fantasy, copperplate;
    color: #301B3F;
    border-style: solid;
    border-color: #000000;
    background-image: url(https://wallpapercave.com/wp/wp3177368.png);
}
.header h1 {
    display: inline;
    color: aliceblue;
    font-size: 150%;
}

.header nav {
    margin-right: 20px;
    font-family: fantasy, copperplate;
    font-size: 20px;
    width: 35%;
    padding-left: 55%;
}

.header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    width: 50%;
    height: 200%;
    padding-left: 35%;
    
}

.header-nav a{
    text-decoration: none;
    color: #EDEDED;
}

.header-nav a:hover {
    color: rgba(255, 255, 255, 1);
  text-shadow: 0 5px 15px orange;
}

h2 {
    text-align: center;
    font-family: fantasy, copperplate;
    font-size: 225%;
    color: #EDEDED;
}
.about-me {
    font-family: fantasy, copperplate;
    color: #000000;
    position: relative;
}

.about-me img {
    width:  250px;
    height: 200px;
    margin-left: 43%;
    border: double;
    border-width: 10px;
}

.about-me p{
    padding-left: 10%;
}

.project-list {
    font-family: fantasy, copperplate;
    font-size: large;
    
}
.project-main {
    justify-content: center;
    border-style: solid none solid none;

    
}

.project-main img {
    height: 5%;
    width: 45%;
    display: inline-block;
    justify-content: center;

}
.project-main img:hover {
    color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px orange;
    
}
.project-main p {
    position: relative; top: 35%; right: 3%;
    float: right;
    
}
.project-main h3 {
padding-left: 13%;

}
.project-sub {
    display: inline-block;
    align-items: center;
    border: 10%;
    border-style: none solid solid solid;
    justify-content: space-evenly;
    margin-left: 11%;
    font-family: fantasy, copperplate;
    font-size: larger;
    background-color: #323232;
}

.project-sub:hover {
  box-shadow: 0 5px 15px orange;
}

.project-sub img {
    width:  360px;
    height: 200px;
}


.contact {
    list-style: none;
    border: #000000;
    border-style: solid none none none;
    text-align: center;
    font-family: fantasy, copperplate;
}
.contact a {
    color:#EDEDED
}
.contact a:hover {
 text-shadow: 0 5px 15px orange;
}

.footer {
    text-align: center;
    font-family: fantasy, copperplate;
}
@media screen and (max-width:992px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        font-size: 2em;
    }
    .header nav {
        margin: 0;
    }

    .header nav ul {
        flex-direction: column;
        text-align: left;
    }

    .project-main p {
        display: flex;
        text-size-adjust: auto;
        font-size: 12px;
        padding-left: 20px;
    }

    .contact {
        font-size: 10px;
    }
    
}