body {
    background-color: #323232;
    background: linear-gradient(180deg, #323232 30%, #444444 50%);
    margin: 0;
    padding: 0;
}

.header { 
    display: flex;
    align-items:center;
    background-color: #000000;
    background: linear-gradient(90deg, #323232 30%, #444444 80%);
    box-shadow: 5% 7% #888888;
    font-family: fantasy, copperplate;
    color: #301B3F;
    border-style: solid;
    border-color: #000000;
    background-image: url(https://wallpapercave.com/wp/wp3177368.png);
}
.header h1 {
    display: flex;
    color: aliceblue;
    font-size: 350%;
}
.header img {
    border-radius: 50%;
    margin-left: 5%;
    border-style: solid;

}

.header nav {
    margin-right: 20px;
    font-family: fantasy, copperplate;
    font-size: 20px;
    width: 35%;
    padding-left: 55%;
}

.header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    width: 50%;
    height: 200%;
    
}

.header-nav a{
    text-decoration: none;
    color: #EDEDED;
}

.header-nav a:hover {
    color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px orange;
}

h2 {
    text-align: center;
    font-family: fantasy, copperplate;
    font-size: 225%;
}

.project-list {
    font-family: fantasy, copperplate;
    font-size: large;
    
}
.project-main {
    justify-content: center;
    margin-left: 35%;
    
}

.project-main img {
    height: 5%;
    width: 45%;
    border: 40%;
    border-style: solid;
    border-color: black;
    display: inline-block;
    justify-content: center;

}
.project-main img:hover {
    color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px orange;
    
}
.project-sub {
    display: inline-block;
    align-items: center;
    border: 10%;
    border-style: solid;
    justify-content: space-evenly;
    margin-left: 10%;
}

.project-sub:hover {
  box-shadow: 0 5px 15px orange;
}

.contact {
    list-style: none;
}

.footer {
    text-align: center;
}
@media screen and (max-width:992px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        font-size: 2em;
    }
    .header nav {
        margin: 0;
    }

    .header nav ul {
        flex-direction: column;
        text-align: left;
    }
    
}